# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store

# production
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# jetbrains workplace folder
.idea

# system windows file
desktop.ini

# vscode workspace folder
.vscode

# cache
.cache/
